{% extends "blog/base.html" %}

{% block title %}
    {% if tag %}
        Tag-{{ tag.name }}
    {% elif category %}
        category-{{ category.name }}
    {% endif %}
{% endblock %}
<div>
    {% for cate in navs %}
        <a href="/category/{{ cate.id }}/">{{ cate.name }}</a>
    {% endfor %}
</div>

{% if tag %}
    tag: {{ tag.name }}
{% endif %}

{% block main %}
    <ul>
        {% for post in post_list %}
            <li>
                <a href="/post/{{ post.id }}/">{{ post.title }}</a>
                <div>
                    <p>author: {{ post.owner.username }}</p>
                    <p>category: {{ post.category.name }}</p>
                </div>
                <p>{{ post.desc }}</p>
            </li>
        {% endfor %}
    </ul>
{% endblock %}



